<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="robots" content="noindex, nofollow">  
        <meta name="viewport" id="viewport" content="width=device-width, initial-scale=1">
        <title>Awesome Trilogy Lander!</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,700" rel="stylesheet">
        <link href="css/bootstrap.min.css" rel="stylesheet"> 
        <link href="css/index.css" rel="stylesheet"> 
        <script type="text/javascript" src="js/angular.min.js"></script> 
    </head>
    <body ng-app="trilogyApp" >
        <div class="mainwrapper"> 
            <header>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-lg-push-6 col-md-push-6 col-sm-push-6">
                            <p class="topphonenumber hidden-xs">
                                To speak with an <br> admissions advisor call 
                                <span>(555) 123-4567</span>
                            </p>
                            <p class="topphonenumber text-center visible-xs">
                                To speak with an  admissions advisor call 
                                <span>(555) 123-4567</span>
                            </p>
                        </div>
                        <div class="col-lg-6 col-md-6 col-md-6 col-sm-6 col-lg-pull-6 col-md-pull-6 col-sm-pull-6">
                            <img class="navlogo" src="images/logos/logo_trilogy.svg" alt="Trilogy Education Services" />
                        </div>
                    </div>    
                </div>    
            </header>
            <section class="topsection">
                <div class="topseccontent">   
                    <div class="container">
                        <div class="row">
                            <div class="hidden-xs">
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <h1>
                                        Learn Coding<br>in 24 Weeks
                                    </h1>
                                    <h2>
                                        Class starts May 15, 2018
                                    </h2>
                                    <form id="namecapture" class="form-inline namecapture text-center" method="post">
                                    <label class="center-block" for="firstname">
                                        GET PROGRAM INFO<br><span>Step 1 of 3</span>
                                    </label>
                                    <div class="form-group">    
                                        <input class="firstname form-control" type="text"  name="firstname" value="" placeholder="First name">
                                    </div>   
                                    <div class="form-group">    
                                        <input class="lastname form-control" type="text" name="lastname" value="" placeholder="Last name">
                                    </div>  
                                    <button class="btn form-control center-block" >
                                        CONTINUE <i class="circleangle" aria-hidden="true">&rsaquo;</i>
                                    </button>
                                    </form>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="typeofclass">
                                        <h3>CODING</h3>
                                        <p>Coding Boot Camp equips students skills<br>for full-stack web development through<br>dynamic, in-person class. </p>
                                    </div>  
                                    <div class="typeofclass">
                                        <h3>DATA ANALYTICS</h3>
                                        <p>Data Boot Camp equips students with the<br>key skills for full-stack web development<br> through dynamic, in-person classes.</p>
                                    </div>
                                </div>
                            </div>  
                            <div id="myCarousel" class="carousel slide visible-xs" data-ride="carousel">
                                <div class="staticslidecontent">
                                    <h1>
                                        Learn Coding in 24 Weeks
                                    </h1>
                                    <h2>
                                        Class starts May 15, 2018
                                    </h2>
                                </div>  
                                <div class="carousel-inner">
                                    <div class="item active">
                                        <div class="typeofclass">
                        
                                        <p>Coding Boot Camp equips students skills for full-stack web development through dynamic, in-person class. </p>
                                        </div>
            
                                    

                                        <img src="images/mobile/code_mobile_hero.jpg" alt="Los Angeles" style="width:100%;">
                                        
                                    </div>

                                    <div class="item">
                                          
                                        <img src="images/mobile/data_mobile_hero.jpg" alt="Chicago" style="width:100%;">
                                        <div class="typeofclass">
                    
                                        <p>Data Boot Camp equips students with the key skills for full-stack web development through dynamic, in-person classes.</p>
                                        </div>
                                    </div>
                                </div>
                                <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                                &lsaquo;
                                </a>
                                <a class="right carousel-control" href="#myCarousel" data-slide="next">
                               &rsaquo;
                                </a>
                            </div>  
                            <form id="namecapture" class="form-inline  namecapturemobile text-center visible-xs" method="post">
                                    <label class="center-block" for="firstname">
                                        GET PROGRAM INFO<br><span>Step 1 of 3</span>
                                    </label>
                                    <div class="form-group">    
                                        <input class="firstname form-control" type="text"  name="firstname" value="" placeholder="First name">
                                    </div>   
                                    <div class="form-group">    
                                        <input class="lastname form-control" type="text" name="lastname" value="" placeholder="Last name">
                                    </div>  
                                    <button class="btn form-control center-block" >
                                        CONTINUE <i class="circleangle" aria-hidden="true">&rsaquo;</i>
                                    </button>
                            </form>
                        </div>   
                    </div>
                </div>    
            </section>    
            <section class="featuring">
                <div class="featuredcontent">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <h4 class="text-center">Featuring</h4>
                            </div>  
                        </div>    
                        <div class="row">
                            <div class="col-lg-12 visible-sm visible-xs">
                                <img class="featurecell center-block img-responsive" src="images/phone.png" alt="Code Mobile Application" />        
                            </div>
                            <div class="col-lg-4 col-md-5">
                                <div class="featurewrap">
                                    <img class="center-block" src="images/icons/data_coding.svg" alt="Coding" />
                                    <p>
                                        Learned Advanced Excel, Python, Javascript (D3.js),<br> (Leaflet.js), HTML5/CSS, API Interaction, Social<br> Media Mining, SQL, Tableau, Advanced Statistic,<br> Machine Learning, R, Git/GitHub, and more.*
                                    </p>
                                </div>
                                <div class="featurewrap">
                                    <img class="center-block" src="images/icons/benefit.svg" alt="Coding" />
                                    <p>
                                        Benefit from a wide range of career services to<br> position you for success as you work to advance<br> in your current career or seek a new opportunity.
                                    </p>
                                </div>

                            </div>
                            <div class="col-lg-4 col-md-2 hidden-sm hidden-xs">
                                <img class="featurecell center-block img-responsive" src="images/phone.png" alt="Code Mobile Application" />        
                            </div>
                            <div class="col-lg-4 col-md-5">
                                <div class="featurewrap">
                                    <img class="center-block" src="images/icons/time.svg" alt="Coding" />
                                    <p>
                                        Study part-time, three days a week, while<br>maintaining your work schedule.
                                    </p>
                                </div>
                                <div class="featurewrap">
                                    <img class="center-block" src="images/icons/complete_proj.svg" alt="Coding" />
                                    <p>
                                        Complete projects using real data sets from the <br>worlds of finance, healthcare, government, social welfare, and more-allowing you to build a strong<br>porfolio with a professional demonstration.
                                    </p>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-lg-12">
                                <p class="featuredisclaimer text-center">*The material covered in this course is subject to change due to market demand.</p>
                            </div>
                        </div>
                    </div>    
                </div>        
                     
            </section>
            <section class="ourstory">
                <div class="ourstorybg" data-type="background" data-speed="6"></div>
                <div class="ourstorycontent" >
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <h4>Our Story</h4>
                                <p>Last year, U.S. companies struggled to fill more than 1.3 million job openings in software development. The market is responding to this demand, but most students turn to standalone code development boot camps for the answer.</p>
                            </div>
                        </div>
                    </div>
                </div>       
            </section>
            <section class="faqs">
  
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <h4 class="hidden-sm hidden-xs">
                                Frequently Asked Questions
                            </h4> 
                            <h4 class="visible-sm visible-xs">
                                <span>Frequently Asked</span> <span>Questions</span>
                            </h4>    
                            <div ng-controller="faqsController">
                                <div class="faqswrapper" ng-repeat="faq in faqs">
                                    <div class="question">
                                        <i class="circleangle" aria-hidden="true">&rsaquo;</i><span>{{faq.question}}?</span>
                                    </div>
                                    <div class="answer">
                                        &bull; {{faq.answer1}} <br> 
                                        <span ng-if="faq.answer2">&bull;</span> {{faq.answer2}} <br>
                                        <span ng-if="faq.answer3">&bull;</span> {{faq.answer3}}
                                    </div>
                                </div>  
                            </div>
                        </div>
                    </div>    
                </div>
  
            </section>

            <footer>
                <div class="footercontent">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <img class="" src="images/logos/logo_trilogy_blk.svg" />
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <p>
                                    This program is offered through<br> sddfdfgdfgdfasdfasdfsdlkfjs <strong>http://sld.4klsdf;/</strong><br>
                                    Powered by Trilogy Education Services<br>
                                    Contact ll;fgdg Boot Camp at <strong>(xxx) xxx-xxxx</strong>
                                </p>
                                <p>
                                    <a href="#"><strong>Terms & Conditions</strong></a> | <a href="#">Privacy/Your Privacy Rights</a>
                                </p>
                            </div>
                        </div>
                    </div>   
                </div>
            </footer>
        </div>    
         
        <script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>  
        <script type="text/javascript" src="js/bootstrap.js"></script>  
        <script type="text/javascript" src="js/index.js"></script>  
    </body>
</html>